*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

.App{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(233,215,148,1) 100%);
}